h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

#Para{
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
    padding-bottom: 50px;
}

.containers{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.image{
    height: 65%;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.name {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#foot {
    background-color: red;
    font-weight: 200;
    padding: 15px;
    border-radius: 10px;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;

    display: block;
    margin: 20px auto;
}